@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;600;700;900&display=swap');

/* CSS kustom untuk benar-benar menghapus box shadow atau border */
.react-tel-input .form-control {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: transparent !important;
}
.react-tel-input .flag-dropdown {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on body */
  }
  
  main {
    scroll-snap-type: y mandatory; /* Enable vertical snapping */
    height: 100vh; /* Full height of viewport */
    overflow-y: scroll; /* Enable scrolling within main */
  }
  
  section {
    scroll-snap-align: start; /* Snap at the start of each section */
  }
  